<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">
  <a href="/" class="navbar-brand">Song Database</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
    <span class="navbar-toggle-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
      {% if is_granted('ROLE_ADMIN')%}

      <li class="nav-item">
        <a href="/song/new" class="nav-link">New Song</a>
      </li>
      {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
      {% else %}
        <li class="nav-item">
        <a href="/login" class="nav-link">Login</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0 role="search" id="nav-search-bar">
      <input class="form-control " type="text" placeholder="Search">
    </form>
  </div> 
</div>
</nav>